/* box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
*/
/* 
.first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #f96d00; 
}

.fourth-color { 
	background: #f2f2f2; 
}
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 
.dosis-<uniquifier> {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

body {
  background-color: #450283;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: normal;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #59595977;
  border-radius: 10px;
  padding-right: 10px;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(128, 128, 128, 0.596);
  /* margin: 10px; */
}
#header-title {
  display: flex;
  align-items: center;
}
#header-title > h1 {
  color: white;
  font-size: 16px;
}
#header-icons {
  color: white;
  display: flex;
  gap: 14px;
}
#header-icons > i:nth-child(1),
#header-icons > i:nth-child(3) {
  /* display: none; */
}

/* Main */

#main {
  margin-block-start: 30px;
}

.categories > h2 {
  color: white;
  font-size: 16px;
}

.categories > .main-box {
  margin: 20px 0px 0px 0px;
  /* overflow: auto; */
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.31);
  padding: 10px;
  display: flex;
}

.categories > .main-box > .text {
  width: 60%;
}

.categories > .main-box > .text > h2 {
  margin: 0;
  color: white;
  padding-block-end: 2px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.775);
  font-size: 20px;
}

.categories > .main-box > .text > p {
  color: white;
  font-weight: 400;
  margin: 0;
  padding-block-start: 10px;
  font-size: 12px;
}

.categories > .main-box > .images > img {
  position: absolute;
}

.categories > .main-box > .images > img:nth-child(1) {
  transform: translateX(13px) translateY(0px);
  width: 23%;
}

.categories > .main-box > .images > img:nth-child(2) {
  width: 30%;
  transform: translateY(46px) translateX(32px);
}

.category {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding-block-end: 20px;
  border-bottom: 1px solid #80808052;
}

.cat-button {
  flex: 1;
}

.category > .cat-button {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.254);
}

.category > .cat-button > p {
  color: white;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  text-align: start;
  background-color: rgba(74, 73, 73, 0.372);
  padding: 10px;
}

/* Informaton Section style */

.info-category {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-block-end: 20px;
  padding-block-end: 12px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.35);
}

.info-category > .button {
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.216);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.439);
}

.info-category > .button > img {
  border-radius: 10px;
  width: 60px;
}

.info-category > .button > p {
  color: white;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  margin-block-start: 10px;
}

/* EnterTainment section */

.entr-category {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding-block-end: 20px;
  border-bottom: 1px solid #3e3e3e;
}

.entr-category > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.entr-category > .button {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  padding: 15px 0;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.216);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.439);
}

/* .entr-category > .button, */
.entr-category > div > .button {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.216);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.439);
}

.entr-category > .button > img,
.entr-category > div > .button > img {
  border-radius: 10px;
  width: 70px;
}

.entr-category > div > .button:nth-child(3) > img:nth-child(1) {
  transform: rotate(25deg) translateX(24px) translateY(14px);
  width: 66px;
  position: relative;
  z-index: 100;
}

.entr-category > div > .button:nth-child(3) > img:nth-child(2) {
  transform: translateX(-5px) translateY(-7px);
}

.entr-category > .button > p,
.entr-category > div > .button > p {
  color: white;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  margin-block-start: 5px;
  text-align: center;
}

/* Job section */
.job-category > .button {
  display: flex;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  background-color: rgba(102, 102, 102, 0.291);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.439);
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(128, 128, 128, 0.288);
}

.job-category > .button > img {
  width: 38%;
}
